Workflow.json
{
  "name": "Workflow Segunda Via de Fatura Asaas com Quepasa",
  "nodes": [
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "CPF",
              "value": "={{ $json.body.content }}"
            },
            {
              "name": "Telefone",
              "value": "={{ $node.Webhook.json.body.conversation.messages[0].sender.identifier }}"
            },
            {
              "name": "Token Assas",
              "value": "$aact_YTU5YTE0M2M2N2I4MTliNzk0YTI5N2U5MzdjNWZmNDQ6OjAwMDAwMDAwMDAwMDAyMjM2MTA6OiRhYWNoX2RiOTc0MzRmLTQxMTctNDdiNi05YWM2LWFjNWJkOTNlMWFhYQ=="
            }
          ]
        },
        "options": {}
      },
      "id": "611daf1f-a68a-4c58-a1db-4dbdf2bfe6c6",
      "name": "Ajusta as Informações",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        60,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/customers",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "cpfCnpj",
              "value": "={{ $node.CPF.json.cpf }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $json[\"Token Assas\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "774c0182-f077-499e-9048-81845514f734",
      "name": "Consulta CPF CNPJ na Asaas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        280,
        260
      ]
    },
    {
      "parameters": {
        "url": "https://www.asaas.com/api/v3/payments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "customer",
              "value": "={{ $node[\"Consulta CPF CNPJ na Asaas\"].json.data[0].id }}"
            },
            {
              "name": "status",
              "value": "PENDING"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "access_token",
              "value": "={{ $node[\"Ajusta as Informações\"].json[\"Token Assas\"] }}"
            }
          ]
        },
        "options": {}
      },
      "id": "7e4fa186-2509-4a9b-9748-7941578422ba",
      "name": "Consulta Fatura",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        920,
        100
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.totalCount }}",
              "value2": "={{ $json.totalCount }}"
            }
          ]
        }
      },
      "id": "d8ff8ecf-1caf-4424-ac41-e21e8668b621",
      "name": "Valida se existe o Cliente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        480,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.totalCount }}",
              "value2": "={{ $json.totalCount }}"
            }
          ]
        }
      },
      "id": "1d6b24f6-23a0-4abf-b6f3-fcf6dbebe9df",
      "name": "Valida se existe fatura Existente",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1140,
        100
      ]
    },
    {
      "parameters": {
        "baseUrl": "https://quepasa.socialatendimento.com.br",
        "token": "token1681467062",
        "text": "=✅ Localizei seu Cadastro! \n\n👉 *{{ $node[\"Consulta CPF CNPJ na Asaas\"].json[\"data\"][1][\"name\"] }}{{ $node[\"Consulta CPF CNPJ na Asaas\"].json[\"hasMore\"] }}* \n\n✅ Só mais um instante, por favor!",
        "chatId": "={{ $node[\"Ajusta as Informações\"].json[\"Telefone\"] }}"
      },
      "id": "4a2cf7c4-2dbc-4ae1-8bca-52aeaf19ee5c",
      "name": "Cadastro Localizado",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        720,
        -80
      ]
    },
    {
      "parameters": {
        "baseUrl": "https://quepasa.socialatendimento.com.br",
        "token": "token1681467062",
        "text": "=🧑‍🚒 Segue a segunda-via da sua Fatura!\n\n👉 *Fatura:* {{ $node[\"Consulta Fatura\"].json[\"data\"][0][\"bankSlipUrl\"] }}\n\n👉  *Nome:* {{ $node[\"Consulta Fatura\"].json[\"data\"][0][\"description\"] }}\n\n👉  *Valor:* R$ {{ $node[\"Consulta Fatura\"].json[\"data\"][0][\"value\"] }},00",
        "chatId": "={{ $node[\"Ajusta as Informações\"].json.Telefone }}"
      },
      "id": "c20ec5dc-9d3c-4aa4-a494-a0b6322138c3",
      "name": "Envia Mensagem com a Fatura",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1400,
        -120
      ]
    },
    {
      "parameters": {
        "baseUrl": "https://quepasa.socialatendimento.com.br",
        "token": "token1680957683",
        "text": "👉  Você não tem nenhuma fatura vencidada!",
        "chatId": "={{ $node[\"Ajusta as Informações\"].json[\"Telefone\"] }}"
      },
      "id": "829904c4-b28e-4ca1-9f21-8e07fe782cd9",
      "name": "Envia Mensagem sem Faturas",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1420,
        280
      ]
    },
    {
      "parameters": {
        "baseUrl": "https://quepasa.socialatendimento.com.br",
        "token": "token1680957683",
        "text": "=🧑‍🚒 Cadastro não localizado!\n\n👉 Estamos transferindo para um de nossos atendentes.",
        "chatId": "={{ $node[\"Ajusta as Informações\"].json[\"Telefone\"] }}"
      },
      "id": "313db378-6090-415d-aa9c-dc138d02cebd",
      "name": "Cadastro Não Localizado",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        720,
        280
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "saas",
        "options": {}
      },
      "id": "737c1bd1-12ec-4bdc-9040-779395833a7e",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        160,
        -240
      ],
      "webhookId": "4103ac58-b89f-484c-962e-153021aa4829"
    },
    {
      "parameters": {
        "baseUrl": "https://quepasa.socialatendimento.com.br",
        "token": "token1681467062",
        "text": "=✅ *Estamos Finalizando seu atendimento*\n\n👉 Segue Numero de Protocolo: {{ $json.message.id }}\n\n✅ Qualquer Dúvida digite 3 para falar com Suporte",
        "chatId": "={{ $node[\"Ajusta as Informações\"].json.Telefone }}"
      },
      "id": "8fc6e386-c4b4-4098-b58a-f60a1cbe6519",
      "name": "Protocolo",
      "type": "n8n-nodes-quepasa.quepasa",
      "typeVersion": 1,
      "position": [
        1640,
        60
      ]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.quantidade_digitos }}",
              "operation": "equal",
              "value2": 11
            }
          ]
        }
      },
      "id": "b8444a1a-ea23-4a22-af8c-f9f3374d3c45",
      "name": "Verifica se mensagem e Valida",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        380,
        0
      ],
      "continueOnFail": true,
      "notes": "Sucesso"
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "cpf",
              "value": "={{ $json.body.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "862261b1-63e9-4d3f-9cce-1f680e869202",
      "name": "CPF",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        380,
        -240
      ]
    },
    {
      "parameters": {
        "jsCode": "// Obter o número do CPF ou CNPJ a partir de uma variável\nconst numero = items[0].json.cpf;\n\n// Remover todos os caracteres especiais do número\nconst numeroSemPontuacao = numero.replace(/[^\\d]+/g,'');\n\n// Verificar se o número é um CPF ou CNPJ válido\nif (numeroSemPontuacao.length === 11) {\n  // O número é um CPF\n  return {quantidade_digitos: 11};\n} else if (numeroSemPontuacao.length === 14) {\n  // O número é um CNPJ\n  return {quantidade_digitos: 11};\n} else {\n  // O número não é válido\n  return {erro: \"O número informado não é um CPF ou CNPJ válido.\"};\n}\n"
      },
      "id": "7854bf25-134f-41a5-844a-cc027f6fe229",
      "name": "Verifica  CPF ou CNPJ",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        120,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Ajusta as Informações": {
      "main": [
        [
          {
            "node": "Consulta CPF CNPJ na Asaas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta Fatura": {
      "main": [
        [
          {
            "node": "Valida se existe fatura Existente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Consulta CPF CNPJ na Asaas": {
      "main": [
        [
          {
            "node": "Valida se existe o Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se existe o Cliente": {
      "main": [
        [
          {
            "node": "Cadastro Localizado",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Cadastro Não Localizado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valida se existe fatura Existente": {
      "main": [
        [
          {
            "node": "Envia Mensagem com a Fatura",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Envia Mensagem sem Faturas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cadastro Localizado": {
      "main": [
        [
          {
            "node": "Consulta Fatura",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Mensagem com a Fatura": {
      "main": [
        [
          {
            "node": "Protocolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Envia Mensagem sem Faturas": {
      "main": [
        [
          {
            "node": "Protocolo",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica se mensagem e Valida": {
      "main": [
        [
          {
            "node": "Ajusta as Informações",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "CPF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CPF": {
      "main": [
        [
          {
            "node": "Verifica  CPF ou CNPJ",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verifica  CPF ou CNPJ": {
      "main": [
        [
          {
            "node": "Verifica se mensagem e Valida",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "2b5e3938-7b3c-4094-ae9f-7861e18686fd",
  "id": "30",
  "meta": {
    "instanceId": "cf33494a10c7fddb894ec4f480b7a0ef8832652eb98e75664a7d2731824deaf9"
  },
  "tags": [
    {
      "createdAt": "2023-03-27T10:16:36.815Z",
      "updatedAt": "2023-03-27T10:16:36.815Z",
      "id": "4",
      "name": "EngajamentoFlow"
    },
    {
      "name": "Asaas",
      "createdAt": "2023-04-14T15:36:15.419Z",
      "updatedAt": "2023-04-14T15:36:15.419Z",
      "id": "17"
    },
    {
      "createdAt": "2023-03-27T10:16:19.240Z",
      "updatedAt": "2023-03-27T10:16:19.240Z",
      "id": "3",
      "name": "CHATWOOT"
    },
    {
      "createdAt": "2023-03-27T10:16:19.227Z",
      "updatedAt": "2023-03-27T10:16:19.227Z",
      "id": "2",
      "name": "QUEPASA"
    },
    {
      "createdAt": "2023-03-27T10:14:31.447Z",
      "updatedAt": "2023-03-27T10:14:31.447Z",
      "id": "1",
      "name": "SUFFICIT"
    }
  ]
}